.main {
  display: grid;
}

.page {
  display: grid;
  max-width: 100%;
  grid-template-rows: minmax(75vh, auto);
}
.page .front {
  display: grid;
  max-width: 100%;
  position: relative;
}
.page .front::after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: url("../image/svg/logo.svg");
  -webkit-mask-image: url("../image/svg/logo.svg");
  mask-position: left 5% top 60%;
  -webkit-mask-position: left 5% top 60%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 33%;
  -webkit-mask-size: 33%;
  background: linear-gradient(-90deg, var(--clr-text), var(--clr-main));
}
@media (max-width: 767.98px) {
  .page .front::after {
    mask-position: left 90% top 5%;
    -webkit-mask-position: left 90% top 5%;
    mask-size: 15%;
    -webkit-mask-size: 15%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .page .front::after {
    mask-size: 25%;
    -webkit-mask-size: 25%;
  }
}
@media (min-width: 1200px) {
  .page .front::after {
    mask-size: 20%;
    -webkit-mask-size: 20%;
  }
}
.page .front .bg {
  display: grid;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.page .front .bg .img {
  background-image: url("../image/banner_bg.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  filter: blur(10px) brightness(70%);
}
@media (max-width: 767.98px) {
  .page .front .bg .img {
    background-attachment: initial;
  }
}
.page .front .center {
  z-index: 10;
  display: grid;
  grid-template-areas: "t ." ". b";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 20px;
}
@media (max-width: 767.98px) {
  .page .front .center {
    padding: 10px;
    grid-template-areas: "t" "b";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
.page .front .center .left {
  grid-area: t;
  place-self: center left;
}
.page .front .center .left h1 {
  font-weight: 1000;
  font-size: 96px;
  line-height: 0.875;
  text-shadow: 0 0 20px var(--clr-main);
}
@media (max-width: 767.98px) {
  .page .front .center .left h1 {
    font-size: 64px;
  }
}
.page .front .center .left h2 {
  font-weight: 700;
  line-height: 0.875;
  text-shadow: 0 0 10px var(--clr-main);
}
@media (max-width: 767.98px) {
  .page .front .center .left h2 {
    font-size: 24px;
  }
}
.page .front .center .right {
  grid-area: b;
  display: grid;
  align-content: center;
  justify-content: center;
}
.page .front .center .right .info {
  display: grid;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
}
.page .front .center .right .info .btn {
  place-self: center center;
}
.page .section.why {
  display: grid;
  row-gap: 10px;
}
.page .section.why .title {
  display: grid;
  place-content: center center;
}
.page .section.why .title h3 {
  font-weight: 700;
}
.page .section.why .list {
  display: grid;
  grid-template-areas: "i i i" "i i i";
  grid-gap: 20px;
  padding: 10px 20px;
  background: url("../image/grid.png") fixed;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 20px 10px var(--clr-bg-1);
}
@media (max-width: 767.98px) {
  .page .section.why .list {
    grid-template-areas: "i" "i" "i" "i" "i" "i";
    background-attachment: initial;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .page .section.why .list {
    grid-template-areas: "i i" "i i" "i i";
    background-attachment: initial;
  }
}
.page .section.why .list .item {
  display: grid;
  padding: 10px;
  row-gap: 10px;
  background: var(--clr-bg);
  border: solid 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px var(--clr-bg);
  opacity: 0.75;
  transition: all 0.1s ease-out;
}
.page .section.why .list .item p, .page .section.why .list .item h4 {
  margin: 0;
}
.page .section.why .list .item:hover {
  border: solid 2px var(--clr-main);
  box-shadow: 0 0 10px var(--clr-main);
  opacity: 1;
}
.page .section.why .list .item:hover .name::after {
  opacity: 1;
}
.page .section.why .list .item .name {
  position: relative;
  font-weight: 600;
}
.page .section.why .list .item .name::after {
  display: block;
  position: absolute;
  content: "";
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-main);
  opacity: 0;
  box-shadow: 0 0 10px var(--clr-main);
  transition: all 0.1s ease-out;
}
.page .section.why .list .item .description {
  font-weight: 300;
}
.page .section.news {
  display: grid;
  row-gap: 10px;
}
.page .section.news .title {
  display: grid;
  place-content: center center;
}
.page .section.news .title h3 {
  font-weight: 700;
}
.page .section.news .slider {
  max-width: 480px;
  place-self: center center;
}
@media (max-width: 767.98px) {
  .page .section.news .slider {
    max-width: 100vw;
  }
}
.page .section.news .slider .slider__control {
  z-index: 10;
}
.page .section.news .slider .article {
  display: grid;
  grid-template-areas: "name     meta" "summary  summary";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  position: relative;
  min-height: 240px;
  z-index: 1;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 767.98px) {
  .page .section.news .slider .article {
    border-radius: 0;
  }
}
.page .section.news .slider .article .bg {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .page .section.news .slider .article .bg {
    border-radius: 0;
  }
}
.page .section.news .slider .article .bg .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(2px) brightness(50%);
}
.page .section.news .slider .article .name {
  grid-area: name;
}
.page .section.news .slider .article .name h4 {
  display: inline-block;
  font-weight: 750;
  font-size: 28px;
  margin: 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .page .section.news .slider .article .name h4 {
    font-size: 24px;
  }
}
.page .section.news .slider .article .name h4::after {
  display: block;
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--clr-main);
}
.page .section.news .slider .article .summary {
  grid-area: summary;
  padding: 0 40px;
  font-weight: 300;
  place-self: center;
}
.page .section.news .slider .article .meta {
  grid-area: meta;
  font-weight: 100;
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
