@import "mixins";

* {
  font-family: 'FS Elliot Pro', Verdana, Geneva, Tahoma, sans-serif;
}

//Переменные и константы сайта.
//Используются CSS-переменные для возможности изменения темы сайта
:root {
  @include setVariable("clr-main", #44aa8f);
  @include setVariable("clr-main-h", darken(#44aa8f, 10%));
  @include setVariable("clr-bg", #2c2c2c);
  @include setVariable("clr-bg-1", #373737);
  @include setVariable("clr-text", #fafafa);
  @include setVariable("lg-width", 1280px);
  font-size: 16px;
  //Для отображения прокрутки сайта в тёмном варианте в браузерах
  color-scheme: dark;
}

html, body {
  background-color: c(bg);
  color: c(text);
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.site {
  display: grid;
  height: 100%;
  grid-template-areas: 'main' 'form' 'footer';
  grid-template-rows: 1fr auto auto;
  grid-gap: 10px;
  overflow-x: hidden;
  padding-top: 48px + 10px;
}

.header {
  height: auto;
  display: grid;
  grid-template-areas: 'logo nav button';
  grid-template-columns: auto 1fr auto;
  background-color: c(bg-1);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: solid 2px c(main);

  .logo {
    grid-area: logo;
    display: grid;
    grid-auto-flow: column;
    place-content: center center;
    place-items: center center;
    column-gap: 10px;
    color: c(text);
    text-decoration: none;
    padding: 0 5px;
    @include std-transition();

    @include on-phones() {
      height: 100%;
      place-self: start;
    }

    .icon {
      fill: c(text);
      height: 75%;
      width: auto;
      @include std-transition();
    }

    h1 {
      font-size: 40px;
      font-weight: bold;
      line-height: 1;
      margin: 0;
    }

    &:hover {
      color: c(main);

      .icon {
        fill: c(main);
      }

      &:active {
        color: c(main-h);

        .icon {
          fill: c(main-h);
        }
      }
    }
  }

  @include on-phones() {
    grid-template-areas:  'logo button'
                          'nav  .';
    grid-template-columns: 1fr auto;
    justify-content: space-between;
  }

  .collapse {
    grid-area: nav;
    display: grid;

    @include on-phones() {
      width: 100%;

      &.collapse:not(.show) {
        display: none;
      }

      &.collapsing {
        height: auto !important;
      }
    }
  }

  .nav-bar {
    display: grid;
    place-content: center center;
    grid-auto-flow: column;
    column-gap: 10px;

    .nav-item {
      color: c(text);
      font-weight: 300;
      text-decoration: none;
      font-size: 18px;
      position: relative;
      @include std-transition();

      @include on-phones() {
        width: 100%;
        padding: 5px 8px 5px 5px;
        text-align: right;

        &:nth-child(2n + 1) {
          background-color: fadedLight(0.05);
        }

        &::before {
          display: block;
          position: absolute;
          font-family: bootstrap-icons !important;
          font-style: normal;
          font-weight: normal !important;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          content: '\F12F'; //иконка стрелки влево
          color: c(text);
          top: calc(50% - 8px);
          left: calc(100% - 16px);
          width: 16px;
          height: 16px;
          opacity: 0;
          pointer-events: none;
          @include std-transition();
        }

        &:hover::before {
          opacity: 1;
          left: calc(100% + 4px);
        }

        &:hover:active::before {
          color: c(main);
        }
      }

      &.selected {
        &::after {
          display: block;
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: c(main);
          border-radius: 0 0 3px 3px;

          @include on-phones() {
            left: auto;
            right: 0;
            width: 3px;
            height: 100%;
          }
        }
      }

      &:hover {
        color: c(main);
        &:active {
          color: c(main-h)
        }
      }
    }

    @include on-phones() {
      background-color: c(bg-1);
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  }

  .menu-button {
    grid-area: button;
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 32px;
    color: c(text);
    @include std-transition(.33s);

    &:not(.collapsed) {
      transform: rotate(90deg);
    }

    @include on-phones() {
      display: block;
      height: 100%;
    }
  }
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas: 'breadcrumbs' 'page';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  background-color: c(bg-1);
  row-gap: 10px;
  max-width: getVariable(lg-width);
  width: 100%;
  margin: 0 auto;

  .breadcrumbs {
    grid-area: breadcrumbs;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 10px;
    position: relative;
    margin: 5px 10px;
    border-radius: 4px;
    background: linear-gradient(90deg, fadedLight(.05) 85%, transparent);

    .item {
      margin: 0;
      color: fadedLight(.5);
      text-decoration: none;
      font-weight: 300;
      padding: 4px;
      border-radius: 4px;
      &.current {
        font-weight: 500;
        color: c(text);
      }

      &:not(.current) {
        position: relative;
        @include no-selection();
        @include std-transition();

        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5%;
          left: calc(100% + 4px);
          width: 2px;
          height: 90%;
          background-color: c(main);
          pointer-events: none;
        }

        &:hover {
          background-color: fadedLight(.1);

          &:active {
            background-color: fadedLight(.15);
            color: c(main);
          }
        }
      }
    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      top: calc(100% + 4px);
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, c(main), transparent 80%);
    }
  }

  .page {
    grid-area: page;
    display: grid;
    height: 100%;
    padding: 5px;

    @include on-phones() {
      padding: 5px 0;
    }

    .page-name {
      position: relative;
      display: grid;
      place-content: center center;
      z-index: 10;
      margin-bottom: 20px;

      h2 {
        display: block;
        text-align: center;
        font-weight: 700;
        line-height: 1;
        background-color: c(bg-1);
        padding: 0 4px;
        z-index: 0;
      }

      &::before {
        display: block;
        position: absolute;
        content: '';
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, c(main), transparent);
      }
    }
  }
}

.contact-form {
  grid-area: form;
  display: grid;
  grid-template-areas: 'title' 'form';
  grid-template-rows: auto 1fr;
  background-color: c(bg-1);
  padding: 10px;
  border: solid 2px c(main);
  box-shadow: 0 0 10px -2px c(main);
  margin: 10px auto;

  @include on-phones() {
    border-left: none;
    border-right: none;
  }

  .title {
    grid-area: title;
    font-weight: 600;
  }

  .form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;
  }
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: 1fr 1fr 1fr;
  background-color: c(bg-1);
  padding: 5px;
  column-gap: 12px;
  width: 100%;
  margin: 0 auto;

  @include on-phones() {
    grid-template-areas: 'left' 'center' 'right';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 12px;
  }

  .left {
    grid-area: left;
    display: grid;
    grid-template-areas: 'copyright' 'socials';

    .copyright {
      grid-area: copyright;
      font-weight: 100;
      font-size: 14px;
      p {
        margin: 0;
        text-align: center;
      }
    }

    .socials {
      grid-area: socials;
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      column-gap: 10px;

      .social {
        background-color: c(main);
        border: solid 2px transparent;
        border-radius: 8px;
        padding: 4px;
        width: 48px;
        height: 48px;
        @include std-transition();

        .icon {
          fill: c(text);
          width: 100%;
          height: 100%;
          @include std-transition();
        }

        &:hover {
          background-color: transparent;
          border: solid 2px c(main);

          .icon {
            fill: c(main);
          }

          &:active .icon {
            fill: getVariable(h-c);
          }
        }
      }
    }
  }

  .center {
    grid-area: center;
    position: relative;
    display: grid;
    grid-template-areas: 'tel' 'email';
    align-content: center;
    justify-items: center;

    &::before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: calc(100% + 5px);
      width: 2px;
      height: 100%;
      background-color: fadedLight(.25);
    }

    & > * {
      color: c(text);
      text-decoration: none;
      margin: 0;
      font-weight: 300;
      @include std-transition();

      &:hover {
        color: c(main);

        &:active {
          color: c(main-h)
        }
      }
    }

    .phone {
      grid-area: tel;
    }

    .email {
      grid-area: email;
    }
  }

  .right {
    grid-area: right;
    position: relative;
    display: grid;
    grid-template-areas: '_ _' '_ _';
    align-content: center;
    justify-items: center;

    @include on-tablets() {
      grid-template-areas: '_' '_' '_' '_';
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: calc(100% + 5px);
      width: 2px;
      height: 100%;
      background-color: fadedLight(.25);
    }

    .nav-item {
      color: fadedLight(.75);
      font-weight: 300;
      text-decoration: none;
      position: relative;
      @include std-transition();

      //Код из Bootstrap Icons для иконки
      &::before {
        display: block;
        position: absolute;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        content: '\F138'; //иконка стрелки вправо
        top: calc(50% - 8px);
        right: calc(100% + 4px + 20px);
        width: 16px;
        height: 16px;
        opacity: 0;
        @include std-transition();
      }

      &:hover {
        color: c(text);
        &::before {
          opacity: 1;
          right: calc(100% + 4px);
        }

        &:active {
          color: c(main);
        }
      }
    }
  }
}

.text-field {
  background-color: fadedLight(.05);
  border: none;
  outline: none;
  border-bottom: solid 3px fadedLight(.05);
  height: 36px;
  color: c(text);
  font-weight: 100;
  font-size: 20px;
  padding: 0 4px;
  @include std-transition();

  &:hover {
    background-color: fadedLight(.1);
  }
  &:focus {
    border-bottom-color: c(main);
  }
}

.text-area {
  background-color: fadedLight(.05);
  border: solid 3px fadedLight(.05);
  outline: none;
  color: c(text);
  font-weight: 100;
  font-size: 20px;
  padding: 4px;
  @include std-transition();

  &:hover {
    background-color: fadedLight(.1);
  }
  &:focus {
    border-color: c(main);
  }
}

.btn {
  background-color: fadedLight(.05);
  border: solid 3px fadedLight(.05);
  outline: none;
  color: c(text);
  font-weight: 500;
  font-size: 20px;
  justify-self: start;
  border-radius: 0;
  margin-top: 10px;
  @include std-transition();

  &:hover {
    background-color: fadedLight(.1);
    color: c(text);
    &:active {
      border-color: c(main);
      box-shadow: 0 0 10px 0 c(main);
    }
  }

  &:active, &:focus {
    box-shadow: none;
    outline: none;
  }
}

.separator {
  width: 100%;
  height: 4px;
  background-color: c(bg);
  margin: 12px 0;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: '';
    top: -9px;
    left: calc(50% - 11px);
    width: 22px;
    height: 22px;
    border-radius: 11px;
    border: solid 4px c(bg-1);
    background-color: c(bg);
  }
}