* {
  font-family: "FS Elliot Pro", Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --clr-main: #44aa8f;
  --clr-main-h: #358670;
  --clr-bg: #2c2c2c;
  --clr-bg-1: #373737;
  --clr-text: #fafafa;
  --lg-width: 1280px;
  font-size: 16px;
  color-scheme: dark;
}

html, body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.site {
  display: grid;
  height: 100%;
  grid-template-areas: "main" "form" "footer";
  grid-template-rows: 1fr auto auto;
  grid-gap: 10px;
  overflow-x: hidden;
  padding-top: 58px;
}

.header {
  height: auto;
  display: grid;
  grid-template-areas: "logo nav button";
  grid-template-columns: auto 1fr auto;
  background-color: var(--clr-bg-1);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: solid 2px var(--clr-main);
}
.header .logo {
  grid-area: logo;
  display: grid;
  grid-auto-flow: column;
  place-content: center center;
  place-items: center center;
  column-gap: 10px;
  color: var(--clr-text);
  text-decoration: none;
  padding: 0 5px;
  transition: all 0.1s ease-out;
}
@media (max-width: 767.98px) {
  .header .logo {
    height: 100%;
    place-self: start;
  }
}
.header .logo .icon {
  fill: var(--clr-text);
  height: 75%;
  width: auto;
  transition: all 0.1s ease-out;
}
.header .logo h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
.header .logo:hover {
  color: var(--clr-main);
}
.header .logo:hover .icon {
  fill: var(--clr-main);
}
.header .logo:hover:active {
  color: var(--clr-main-h);
}
.header .logo:hover:active .icon {
  fill: var(--clr-main-h);
}
@media (max-width: 767.98px) {
  .header {
    grid-template-areas: "logo button" "nav  .";
    grid-template-columns: 1fr auto;
    justify-content: space-between;
  }
}
.header .collapse {
  grid-area: nav;
  display: grid;
}
@media (max-width: 767.98px) {
  .header .collapse {
    width: 100%;
  }
  .header .collapse.collapse:not(.show) {
    display: none;
  }
  .header .collapse.collapsing {
    height: auto !important;
  }
}
.header .nav-bar {
  display: grid;
  place-content: center center;
  grid-auto-flow: column;
  column-gap: 10px;
}
.header .nav-bar .nav-item {
  color: var(--clr-text);
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: all 0.1s ease-out;
}
@media (max-width: 767.98px) {
  .header .nav-bar .nav-item {
    width: 100%;
    padding: 5px 8px 5px 5px;
    text-align: right;
  }
  .header .nav-bar .nav-item:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .header .nav-bar .nav-item::before {
    display: block;
    position: absolute;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f12f";
    color: var(--clr-text);
    top: calc(50% - 8px);
    left: calc(100% - 16px);
    width: 16px;
    height: 16px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-out;
  }
  .header .nav-bar .nav-item:hover::before {
    opacity: 1;
    left: calc(100% + 4px);
  }
  .header .nav-bar .nav-item:hover:active::before {
    color: var(--clr-main);
  }
}
.header .nav-bar .nav-item.selected::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--clr-main);
  border-radius: 0 0 3px 3px;
}
@media (max-width: 767.98px) {
  .header .nav-bar .nav-item.selected::after {
    left: auto;
    right: 0;
    width: 3px;
    height: 100%;
  }
}
.header .nav-bar .nav-item:hover {
  color: var(--clr-main);
}
.header .nav-bar .nav-item:hover:active {
  color: var(--clr-main-h);
}
@media (max-width: 767.98px) {
  .header .nav-bar {
    background-color: var(--clr-bg-1);
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
.header .menu-button {
  grid-area: button;
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 32px;
  color: var(--clr-text);
  transition: all 0.33s ease-out;
}
.header .menu-button:not(.collapsed) {
  transform: rotate(90deg);
}
@media (max-width: 767.98px) {
  .header .menu-button {
    display: block;
    height: 100%;
  }
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas: "breadcrumbs" "page";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  background-color: var(--clr-bg-1);
  row-gap: 10px;
  max-width: var(--lg-width);
  width: 100%;
  margin: 0 auto;
}
.main .breadcrumbs {
  grid-area: breadcrumbs;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 10px;
  position: relative;
  margin: 5px 10px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 85%, transparent);
}
.main .breadcrumbs .item {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 300;
  padding: 4px;
  border-radius: 4px;
}
.main .breadcrumbs .item.current {
  font-weight: 500;
  color: var(--clr-text);
}
.main .breadcrumbs .item:not(.current) {
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  transition: all 0.1s ease-out;
}
.main .breadcrumbs .item:not(.current)::after {
  display: block;
  position: absolute;
  content: "";
  top: 5%;
  left: calc(100% + 4px);
  width: 2px;
  height: 90%;
  background-color: var(--clr-main);
  pointer-events: none;
}
.main .breadcrumbs .item:not(.current):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.main .breadcrumbs .item:not(.current):hover:active {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--clr-main);
}
.main .breadcrumbs::after {
  display: block;
  position: absolute;
  content: "";
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, var(--clr-main), transparent 80%);
}
.main .page {
  grid-area: page;
  display: grid;
  height: 100%;
  padding: 5px;
}
@media (max-width: 767.98px) {
  .main .page {
    padding: 5px 0;
  }
}
.main .page .page-name {
  position: relative;
  display: grid;
  place-content: center center;
  z-index: 10;
  margin-bottom: 20px;
}
.main .page .page-name h2 {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  background-color: var(--clr-bg-1);
  padding: 0 4px;
  z-index: 0;
}
.main .page .page-name::before {
  display: block;
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--clr-main), transparent);
}

.contact-form {
  grid-area: form;
  display: grid;
  grid-template-areas: "title" "form";
  grid-template-rows: auto 1fr;
  background-color: var(--clr-bg-1);
  padding: 10px;
  border: solid 2px var(--clr-main);
  box-shadow: 0 0 10px -2px var(--clr-main);
  margin: 10px auto;
}
@media (max-width: 767.98px) {
  .contact-form {
    border-left: none;
    border-right: none;
  }
}
.contact-form .title {
  grid-area: title;
  font-weight: 600;
}
.contact-form .form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--clr-bg-1);
  padding: 5px;
  column-gap: 12px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .footer {
    grid-template-areas: "left" "center" "right";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 12px;
  }
}
.footer .left {
  grid-area: left;
  display: grid;
  grid-template-areas: "copyright" "socials";
}
.footer .left .copyright {
  grid-area: copyright;
  font-weight: 100;
  font-size: 14px;
}
.footer .left .copyright p {
  margin: 0;
  text-align: center;
}
.footer .left .socials {
  grid-area: socials;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 10px;
}
.footer .left .socials .social {
  background-color: var(--clr-main);
  border: solid 2px transparent;
  border-radius: 8px;
  padding: 4px;
  width: 48px;
  height: 48px;
  transition: all 0.1s ease-out;
}
.footer .left .socials .social .icon {
  fill: var(--clr-text);
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-out;
}
.footer .left .socials .social:hover {
  background-color: transparent;
  border: solid 2px var(--clr-main);
}
.footer .left .socials .social:hover .icon {
  fill: var(--clr-main);
}
.footer .left .socials .social:hover:active .icon {
  fill: var(--h-c);
}
.footer .center {
  grid-area: center;
  position: relative;
  display: grid;
  grid-template-areas: "tel" "email";
  align-content: center;
  justify-items: center;
}
.footer .center::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  right: calc(100% + 5px);
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}
.footer .center > * {
  color: var(--clr-text);
  text-decoration: none;
  margin: 0;
  font-weight: 300;
  transition: all 0.1s ease-out;
}
.footer .center > *:hover {
  color: var(--clr-main);
}
.footer .center > *:hover:active {
  color: var(--clr-main-h);
}
.footer .center .phone {
  grid-area: tel;
}
.footer .center .email {
  grid-area: email;
}
.footer .right {
  grid-area: right;
  position: relative;
  display: grid;
  grid-template-areas: "_ _" "_ _";
  align-content: center;
  justify-items: center;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .right {
    grid-template-areas: "_" "_" "_" "_";
  }
}
.footer .right::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  right: calc(100% + 5px);
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}
.footer .right .nav-item {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
  text-decoration: none;
  position: relative;
  transition: all 0.1s ease-out;
}
.footer .right .nav-item::before {
  display: block;
  position: absolute;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f138";
  top: calc(50% - 8px);
  right: calc(100% + 4px + 20px);
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: all 0.1s ease-out;
}
.footer .right .nav-item:hover {
  color: var(--clr-text);
}
.footer .right .nav-item:hover::before {
  opacity: 1;
  right: calc(100% + 4px);
}
.footer .right .nav-item:hover:active {
  color: var(--clr-main);
}

.text-field {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  border-bottom: solid 3px rgba(255, 255, 255, 0.05);
  height: 36px;
  color: var(--clr-text);
  font-weight: 100;
  font-size: 20px;
  padding: 0 4px;
  transition: all 0.1s ease-out;
}
.text-field:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.text-field:focus {
  border-bottom-color: var(--clr-main);
}

.text-area {
  background-color: rgba(255, 255, 255, 0.05);
  border: solid 3px rgba(255, 255, 255, 0.05);
  outline: none;
  color: var(--clr-text);
  font-weight: 100;
  font-size: 20px;
  padding: 4px;
  transition: all 0.1s ease-out;
}
.text-area:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.text-area:focus {
  border-color: var(--clr-main);
}

.btn {
  background-color: rgba(255, 255, 255, 0.05);
  border: solid 3px rgba(255, 255, 255, 0.05);
  outline: none;
  color: var(--clr-text);
  font-weight: 500;
  font-size: 20px;
  justify-self: start;
  border-radius: 0;
  margin-top: 10px;
  transition: all 0.1s ease-out;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--clr-text);
}
.btn:hover:active {
  border-color: var(--clr-main);
  box-shadow: 0 0 10px 0 var(--clr-main);
}
.btn:active, .btn:focus {
  box-shadow: none;
  outline: none;
}

.separator {
  width: 100%;
  height: 4px;
  background-color: var(--clr-bg);
  margin: 12px 0;
  position: relative;
}
.separator::after {
  display: block;
  position: absolute;
  content: "";
  top: -9px;
  left: calc(50% - 11px);
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: solid 4px var(--clr-bg-1);
  background-color: var(--clr-bg);
}

/*# sourceMappingURL=main.css.map */
