@import "mixins";

* {
  font-family: 'FS Elliot Pro', Verdana, Geneva, Tahoma, sans-serif;
}

//Переменные и константы сайта.
//Используются CSS-переменные для возможности изменения темы сайта
:root {
  @include setVariable("clr-main", #44aa8f);
  @include setVariable("clr-bg", #1b1b1b);
  @include setVariable("clr-text", #fafafa);
}

html, body {
  background-color: c(bg);
  color: c(text);
}

html {
  font-size: 16px;
}

p.super-text {
  color: c(main);
}