@mixin setVariable($name, $value) {
  --#{$name}: #{$value};
}

@function getVariable($name) {
  @return var(--#{unquote($name)});
}

//Функция для использования цветов из CSS-переменных
@function c($colorName) {
  @return getVariable(clr-#{$colorName})
}

@mixin std-transition($duration: 0.1s) {
  transition: all $duration ease-out;
}

@mixin no-selection() {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}