@import "mixins";

.page {
  .pricing-list {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 10px;
    grid-template-areas: '_ _' '_ _';

    .group {
      background-color: fadedLight(.05);
      padding: 10px;
      border-radius: 10px;
      display: grid;
      grid-template-areas: 'title' 'list';
      row-gap: 6px;

      .title {
        grid-area: title;
        color: c(main);
        font-weight: 600;
        position: relative;

        &::after {
          display: block;
          position: absolute;
          content: '';
          top: calc(100% + 1px);
          left: 0;
          width: 100%;
          height: 4px;
          background-color: c(bg-1);
        }
      }

      .prices {
        grid-area: list;
        display: grid;
        grid-auto-flow: row;
        row-gap: 5px;

        .item {
          position: relative;
          padding: 0 0 0 4px;
          display: grid;
          grid-template-areas: 'name price';
          grid-template-columns: 1fr auto;
          column-gap: 15px;
          background-color: fadedLight(.05);
          font-size: 18px;

          &::before {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            right: calc(100% + 2px);
            width: 2px;
            height: 100%;
            background-color: c(main);
          }

          .name {
            grid-area: name;
          }

          .price {
            grid-area: price;
          }
        }
      }
    }
  }
}